html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 0;
  border-radius: 40px;
  background-color: #D0D2D3;
  color: #FFFFFF;
  font-size: 40px;
  width: 100%;
  margin: auto;
}

button:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}

/* left side */

#left {
  float: left;
  background-color: #F7F7F7;
  width: 50%; 
  height: 100%;
  padding: auto 10px;
}

#innerleft {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* title */

h1 {
  color: #DD1972;
  font-weight: none;
  font-size: 4em;
}

span {
  font-weight: bold;
}

/* top form */

.inline {
  display: inline-block;
  text-align: center;
}

hr {
  width: 90%;
}

.enter-alert {
  margin: 8px auto;
  visibility: hidden;
}

/* bottom form */

#submit {
  border: 0;
  border-radius: 40px;
  background-color: #D0D2D3;
  color: #FFFFFF;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

#flexcr {
  display: flex;
  justify-content: center;
  width: 100%;
}

#clear {
  padding-left: 50px;
  padding-right: 50px;
}

#reset {
  padding-left: 50px;
  padding-right: 50px;
}
/* right */

#right {
  float: right;
  background-color: #404041;
  width: 50%;
  height: 100%;
}

#you-guess {
  color: #FFFFFF;
  text-align: center;
  font-size: 3em;
  margin: 10px auto;
}

#number-guessed {
 color: #F74D9B;
 text-align: center;
 font-weight: bold;
 font-size: 10em;
 margin: 20px auto;
}

#response {
  color: #FFFFFF;
  text-align: center;
  font-size: 3em;
  margin: 10px auto;
}
